:root {
  --dark-gray: #303030;
  --max-columns-in-widgets-menu: 1;
  --max-widget-size: 240px;
  --border-color: white;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #0d1221, #1c2a4f);
  color: white;
  font-weight: normal;
  font-family: Roboto Mono;
}

#app {
  width: 100%;
  height: 100vh;
}

.all-centered {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.centered-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.default-size {
  width: 2em;
  height: 2em;
}

.default-inner-size {
  width: 1.25em;
  height: 1.25em;
}

@media (min-width: 600px) {
  .default-size {
    width: 3em;
    height: 3em;
  }

  .default-inner-size {
    width: 1.5em;
    height: 1.5em;
  }
}

@media (min-width: 768px) {
  .default-size {
    width: 4em;
    height: 4em;
  }

  .default-inner-size {
    width: 2em;
    height: 2em;
  }

  :root {
    --max-columns-in-widgets-menu: 2;
    --max-widget-size: 280px;
  }
}

@media (min-width: 1000px) {
  :root {
    --max-columns-in-widgets-menu: 3;
    --max-widget-size: 400px;
  }
}
