.default-circle-btn {
  border-radius: 50%;
  background-color: #153689;
  border-width: 0;
  box-shadow:
    0 0.1em 0.5em white,
    0 -0.1em 0.5em white;
}

.default-circle-btn:active {
  transform: scale(0.9);
  box-shadow:
    inset 0 0.1em 0.5em #222222,
    inset 0 -0.1em 0.5em #222222;
}
