/* Base editor styles */
.cm-editor {
  background-color: var(--widget-background-color);
  color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  height: 10em;
  font-size: 1em;
  overflow-y: auto;
  overflow-x: none;
  padding: 0.5em;
}

/* Content area */
.cm-content {
  font-family: Roboto Mono;
}

.cm-lineNumbers,
.cm-gutterElement,
.cm-gutters {
  display: none;
}

/* Active line */
.cm-activeLine {
  background-color: #000000;
}

/* Readonly lines */
.cm-readonly {
  background-color: #f0f0f0;
  pointer-events: none;
}

.cm-readonly-lineNumber {
  background-color: #e0e0e0;
  color: #003366;
}

/* Syntax highlighting */
.cm-keyword {
  color: #ff0000;
}

.cm-string {
  color: #008000;
}

.cm-comment {
  color: #666666;
  font-style: italic;
}

.cm-number {
  color: #0000ff;
}

.cm-operator {
  color: #333333;
}

/* Selection and cursor */
.cm-selectionBackground {
  background-color: #d6eaff;
}

.cm-cursor {
  border-left: 1px solid #000000;
}
.cm-gutterElement.cm-activeLineGutter {
  background-color: "#000000";
}
.cm-keyword {
  color: gold;
}
.cm-string {
  color: salmon;
}
