:root {
  --control-panel-height: 1em;
  --control-panel-max-padding: 1em;
}

.control-panel {
  justify-content: space-between;
  padding: var(--control-panel-max-padding)
    calc(0.5 * var(--control-panel-max-padding))
    var(--control-panel-max-padding)
    calc(0.5 * var(--control-panel-max-padding));
  background-color: var(--dark-gray);
  height: var(--control-panel-height);
  box-sizing: content-box;
}

.app-icon {
  border-radius: 10%;
  box-shadow:
    0px -2px 5px white,
    0px 2px 5px white,
    -2px 0px 5px white,
    2px 0px 5px white;
}

.app-name {
  padding-left: 0.5em;
  text-shadow: 1px 1px 4px white;
  font-weight: bold;
  letter-spacing: 0.3em;
  font-size: 1.25em;
}

@media (min-width: 600px) {
  :root {
    --control-panel-height: 2em;
  }
  .control-panel {
    padding: var(--control-panel-max-padding);
  }
  .app-name {
    font-size: 1.5em;
  }
}

@media (min-width: 768px) {
  :root {
    --control-panel-height: 3em;
  }
  .control-panel {
    padding: 1em;
  }
  .app-name {
    font-size: 2em;
    letter-spacing: 0.5em;
  }
}
