#widgets-menu-container {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: calc(
    (2 * var(--control-panel-max-padding)) + var(--control-panel-height) + 2em
  );
}

#widgets-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  width: 80%;
  height: 50%;
  background-color: var(--dark-gray);
  border: 0;
  border-radius: 1em;
}

.headline {
  padding: 0.5em 1em 0.5em 1em;
  box-sizing: border-box;
  width: 100%;
  display: grid;
  grid-template-columns: auto 1em;
  column-gap: 1em;
}

.headline-title {
  text-align: center;
}

@media (min-width: 600px) {
  .headline {
    padding: 0.5em 1.5em 0.5em 1.5em;
  }
}
