:root {
  --max-columns-in-widgets-menu: 1;
  --max-widget-size: 280px;
  --active-widget-border: gold;
  --modal-window-background: rgba(30, 30, 30, 0.5);
  --widget-background-color: #252525;
  --io-color: #777777;
}

#widgets-menu-container {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: calc(
    (2 * var(--control-panel-max-padding)) + var(--control-panel-height) + 2em
  );
  background-color: var(--modal-window-background);
}

#widgets-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  width: 95%;
  height: 95%;
  background-color: var(--dark-gray);
  border: 1px solid var(--border-color);
  border-radius: 1em;
  overflow: auto;
  padding: 0 0.5em 0.5em 0.5em;
  scrollbar-width: none;
}

#widgets-menu::-webkit-scrollbar {
  display: none;
}

.headline {
  padding: 0.5em 1em 0.5em 1em;
  width: 100%;
  display: grid;
  grid-template-columns: auto 1em;
  gap: 1.5em;
  justify-items: center;
}

.headline__spacer {
  width: 1em;
}

.headline-title {
  text-align: center;
  padding-left: 1.5em;
  max-width: 90%;
  height: 1.5em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.widget {
  width: var(--max-widget-size);
  height: var(--max-widget-size);
  border-radius: 1em;
  border: 1px solid var(--border-color);
  background-color: var(--widget-background-color);
  padding: 0 0.5em 0.5em 0.5em;
  position: relative;
}
.widget:hover {
  border: 1px solid var(--active-widget-border);
}

.widget-io {
  width: 1em;
  height: 1em;
  background-color: var(--io-color);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.widget-input {
  left: -0.5em;
}

.widget-output {
  right: -0.5em;
}

.widget-preview {
  padding: 0.5em 0.5em 0.5em 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.widgets-preview-container {
  display: grid;
  grid-template-columns: repeat(
    var(--max-columns-in-widgets-menu),
    var(--max-widget-size)
  );
  gap: 1em;
  max-width: 100%;
}

.widget-settings {
  position: relative;
  width: calc(100% + 1em); /* padding of widget */
  height: calc(100% + 0.5em); /* padding of widget */
  padding: 0 0.5em 0.5em 0.5em;
  left: -0.5em; /* padding of widget */
  border-radius: 1em;
}

.widget-settings-items {
  display: grid;
  padding-top: 0.5em;
  overflow-x: none;
  overflow-y: auto;
  row-gap: 2em;
}

.widget-settings-items > * {
  font-size: 0.7em;
}

.widget-settings-item {
  display: grid;
  grid-template-columns: 1fr auto;
  row-gap: 0.5em;
  overflow-x: none;
}

@media (min-width: 600px) {
  :root {
    --max-columns-in-widgets-menu: 2;
  }
  .headline {
    padding: 0.5em 1.5em 0.5em 1.5em;
  }
}

@media (min-width: 768px) {
  :root {
    --max-widget-size: 360px;
  }
  .headline {
    padding: 1em 2em 1em 2em;
  }
  .headline-title {
    text-align: center;
    padding-left: 0.25em;
    font-size: 1.25em;
  }
  .widget-settings-item {
    padding: 0 0.25em;
  }
  .widget-settings-items > * {
    font-size: 0.9em;
  }
}

@media (min-width: 1020px) {
  :root {
    --max-columns-in-widgets-menu: 3;
    --max-widget-size: 320px;
  }
}

@media (min-width: 1100px) {
  :root {
    --max-widget-size: 350px;
  }
  .widget {
    border-width: 2px;
  }
  .widget:hover {
    border-width: 2px;
  }
}

@media (min-width: 1400px) {
  :root {
    --max-widget-size: 400px;
  }
}

@media (min-width: 1700px) {
  :root {
    --max-columns-in-widgets-menu: 4;
  }
}
