#workfield {
  display: grid;
  grid-template-columns: repeat(
    var(--max-columns-in-widgets-menu),
    var(--max-widget-size)
  );
  gap: 2em;
  padding: 2em 1em;
  justify-content: center;
  overflow: auto;
  height: calc(100vh - var(--control-panel-height) - 2em);
}

.connection {
  stroke: white;
  stroke-width: 4;
  fill: none;
  stroke-dasharray: 10, 8;
}
