#workfield {
  display: grid;
  grid-template-columns: repeat(
    var(--max-columns-in-widgets-menu),
    var(--max-widget-size)
  );
  gap: 5em;
  padding: 2em 1em;
  justify-content: center;
  overflow: auto;
  height: calc(100vh - var(--control-panel-height) - 2em);
  position: relative;
}

.connection-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.connection {
  stroke: white;
  stroke-width: 4;
  fill: none;

  &:hover {
    stroke: green;
  }
}

.temp-connection {
  stroke-dasharray: 10, 8;
}
