@import 'fonts.css';

:root {
  --control-panel-bg-color: #1f1b1b;
  --text-default-color: #cbc3c3;
  --workfield-color: #2a2b29;
  --active-item-color: #e0cc15;
  --active-panel-bg-color: #1f1b1b;
  --control-panel-max-height: 72px;
  --widget-control-panel-max-height: 40px;
  --brand-icon-size: calc(var(--control-panel-max-height) - 4px);
  --error-msg-color: coral;
  color: var(--text-default-color);
  background-color: var(--control-panel-bg-color);
  --max-widget-size: 33vw;
  --max-widgets-per-row: 3;
}

@media (min-width: 801px) and (max-width: 1100px) {
  :root {
    --max-widget-size: 50vw;
    --max-widgets-per-row: 2;
  }
}

@media (max-width: 800px) {
  :root {
    --max-widget-size: 99vw;
    --max-widgets-per-row: 1;
  }
}

body {
  margin: 0;
}

pre {
  font-family: inherit;
}

#app {
  display: block;
  font-weight: normal;
  font-family: Roboto Mono;
}

#control-panel {
  display: flex;
  gap: 3em;
  justify-content: space-between;
  align-items: center;
  background-color: var(--control-panel-bg-color);
  height: var(--control-panel-max-height);
  padding: 0 1em 0 1em;
  position: sticky;
  top: 0;
}
.brand-icon {
  border-radius: 10px;
  width: var(--brand-icon-size);
  height: var(--brand-icon-size);
}
.control-panel-icons {
  display: inherit;
  gap: inherit;
}
/* subsequent div for control panel icons
 * later to be replaced with `donate` button.
 */
.control-panel-icons + div {
  width: var(--brand-icon-size);
  height: var(--brand-icon-size);
}

.control-panel-element {
  fill: var(--text-default-color);
  transition-duration: 300ms;
  border-radius: 10%;
  padding: 1em;
  border: 1px solid var(--control-panel-bg-color);
}
.control-panel-element:hover {
  border: 1px solid var(--active-item-color);
}
.control-panel-element-selected {
  fill: var(--active-item-color);
}

#work-field {
  background-color: var(--workfield-color);
  min-height: calc(100vh - var(--control-panel-max-height));
  display: grid;
  gap: 1em;
  padding: 1em;
  grid-template-columns: repeat(var(--max-widgets-per-row), minmax(auto, var(--max-widget-size)));
}

.cancel-button {
  fill: var(--active-item-color);
  background-color: var(--active-panel-bg-color);
  padding: 10px;
  border-radius: 50%;
  transition-duration: 500ms;
}

.cancel-button:hover {
  fill: var(--active-panel-bg-color);
  background-color: var(--active-item-color);
}

.cancel-button:active {
  scale: 70%;
}

.modal-window-plate {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: none;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal-window {
  background-color: var(--active-panel-bg-color);
  margin: calc(50px + var(--control-panel-max-height)) auto;
  max-height: calc(90vh - 50px - var(--control-panel-max-height));
  max-width: 70vw;
  padding: 1em;
  border: 2px solid var(--active-item-color);
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.modal-window-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.modal-window-header > h2 {
  margin-right: 0px;
  margin-left: auto;
  padding-left: 2em;
}

#about-text {
  text-align: initial;
  text-wrap: wrap;
  font-size: 1rem;
  padding: 1em;
  max-width: 90%;
  max-height: 90%;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.email-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-height: 95%;
  overflow-y: auto;
  gap: 2rem 0;
}
.email-header {
  display: grid;
  grid-template-columns: minmax(0, 4rem) minmax(2rem, auto);
  grid-template-rows: auto;
  max-width: 70%;
}

.email-container > button {
  font-family: inherit;
  font-size: inherit;
  padding: 0.5em 1.5em 0.5em 1.5em;
  text-align: center;
  background-color: inherit;
  color: var(--active-item-color);
  border: 1px solid var(--active-item-color);
  border-radius: 50px;
  transition-duration: 300ms;
  align-self: end;
}
.email-container > button:hover {
  color: var(--active-panel-bg-color);
  background-color: var(--active-item-color);
}
.email-container > button:active {
  scale: 70%;
}

.email-container > label {
  color: var(--error-msg-color);
}

.email-container > textarea {
  font-family: inherit;
  background-color: initial;
  color: var(--text-default-color);
  font-size: 1em;
  padding: 0.5em;
  border-radius: 20px;
  outline: none;
  border: 1px solid var(--active-item-color);
  resize: none;
  height: 25vmin;
  padding: 1em;
}

.email-container > textarea:focus {
  outline: none;
}

.line-edit {
  font-family: inherit;
  background-color: initial;
  color: var(--text-default-color);
  font-size: 1em;
  padding: 0.5em;
  outline: none;
  max-width: 320em;
  width: 15em;
  border: none;
  border-bottom: 1px solid var(--active-panel-bg-color);
  transition-duration: 300ms;
}
.line-edit:focus {
  border-bottom: 1px solid var(--active-item-color);
}

#widget-control-panel {
  display: flex;
  gap: 2em;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--text-default-color);
  border-bottom: 1px solid var(--text-default-color);
  background-color: var(--control-panel-bg-color);
  height: var(--widget-control-panel-max-height);
  padding: 0 1em 0 1em;
  position: sticky;
  top: 0;
}

.widget-control-panel-element {
  fill: var(--text-default-color);
  transition-duration: 300ms;
  width: 32px;
  height: 32px;
}
.widget-control-panel-element:hover {
  fill: var(--active-item-color);
}
.widget-control-panel-element:active {
  scale: 70%;
}

.widgets-container {
  display: flex;
  width: 90%;
  gap: 2em;
  overflow-x: auto;
  padding: 1em;
  scroll-behavior: smooth;
}

.widget,
.widget-preview {
  min-width: 25rem;
  min-height: 12rem;
  background-color: var(--active-panel-bg-color);
  border-radius: 1em;
  padding: 1em;
  border: 1px solid var(--active-item-color);
  display: grid;
}

.widget {
  min-width: unset;
  min-height: unset;
  height: var(--max-widget-size);
}

.widget-type1,
.widget-type2 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--active-item-color);
  width: 100%;
  height: 100%;
}

.widget-type2 {
  background-color: white;
  color: black;
}

.donation-icon {
  width: var(--brand-icon-size);
  height: var(--brand-icon-size);
  border: 1px solid transparent;
  border-radius: 10px;
  transition-duration: 300ms;
}

.donation-icon:hover {
  border: 1px solid var(--active-item-color);
}

.donation-icon:active {
  scale: 70%;
}
