@import "@/css/fonts.css";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(to bottom, #0d1221, #1c2a4f);
  color: white;
  font-weight: normal;
  font-family: Roboto Mono;
}

#app {
  width: 100%;
  height: 100vh;
}
